body {
    width: 100%;
    background-color: #212121;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}

body, header, nav {
    margin: 0px;
}

header {
    background-color: #0099CC;
    color: white;
    padding: 10px 10px;
}

nav {
    background-color: #8DC63F;
    margin-bottom: 20px;
    padding: 5px;
    height: 50px;
}

nav ul {
    float: left;
}

nav li {
    list-style-type: none;
    color: white;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 1.3em;
    float: left;
}

nav li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

section {
    clear: both;
    display: block;
    width: 80%;
    margin: 20px auto;
    vertical-align: top;
    text-align: center;
    min-height: 450px;
    background-color: #FFF;
    border-radius: 7px;
}

#recipeDescription {
    display: inline-block;

}

table {
    display: inline-block;
    margin: 0px auto;
    Border-collapse: collapse;
}

#name {
    width: 50px;
}

td {
    width: 200px;
}

.gray {
    background-color: #cacaca;
}

.green {
    background-color: #cddc53;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    vertical-align: bottom;
    width: 400px;
    height: 320px;
    background-color: #ffffff;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;



}

.list {
    /* Add shadows to create the "card" effect */


    display: inline-block;

    width: 400px;
    background-color: #ffffff;
    margin-bottom: 50px;



}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {

    padding: 2px 16px;

    width: 350px;
    height: 100px;
}

.smallBox {
    width: 115px;
}

.rating {
    display: inline-block;
    max-width: 50px;
}

.imageHead {
    display: inline-block;
    max-width: 50%;
}

.best-seller{
    color: red;
    font-size: smaller;
}

.category{
    font-weight: bold;
}

.price {
    color: #871328;
    font-size: 130%;
}

.outofstock {
     color: #21b4e7;
 }

.instock {
    color: #ffffff;
}

.detail-view{

}

.attribute-and-description{

}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color: #b5b5ad;
    height: 1px;
}