html {
    font: 0px Courier;
    color: white;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

* {



}
.layer {
    /*display: inline-block;*/

}
.div {
    display: inline-grid;

}

.box {
    position: absolute;
    display: inline-block;
    font: 96px Courier;
    color: white;
    height: 120px;
    width: 120px;
    text-align: center;
}

.box.odd {
    background: #ee3e64;

}

.box.even {
    background: #44accf;

}

#box_1{
    top:120px;
    left:120PX;
}


