html {
    font: 0px Courier;
    color: white;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

.div {
    display: inline-grid;

}

.box {
    position: absolute;
    display: inline-block;
    font: 96px Courier;
    color: white;
    height: 120px;
    width: 120px;
    text-align: center;
}

.box.odd {
    background: #ee3e64;

}

.box.even {
    background: #44accf;

}
#box_0{
    top:0px;
    left:0px;
}

#box_1{
    top:120px;
    left:120px;
}

#box_2{
    top:240px;
    left:240px;
}

#box_3{
    top:360px;
    left:360px;
}
#box_4{
    top:480px;
    left:480px;
}
#box_5{
    top:600px;
    left:480px;
}
#box_6{
    top:720px;
    left:360px;
}
#box_7{
    top:840px;
    left:240px;
}
#box_8{
    top:960px;
    left:120px;
}
#box_9{
    top:1080px;
    left:0px;
}
